
/dts-v1/;

/include/ "mfcc_855x.dtsi"

/{
	chosen {
		bootargs = "console=ttyS0,115200";

		/* reserve 256MB for rootfs */
		linux,initrd-start = <0x6c000000>;
		linux,initrd-end =   <0x7bffffff>;
	};

	cpus {
		PowerPC,e6500@0 {
			clock-frequency = <1800000000>;
			timebase-frequency = <37500000>;
			bus-frequency = <600000000>;
		};
		PowerPC,e6500@1 {
			clock-frequency = <1800000000>;
			timebase-frequency = <37500000>;
			bus-frequency = <600000000>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0xfffffc40>;
		};
		PowerPC,e6500@2 {
			clock-frequency = <1800000000>;
			timebase-frequency = <37500000>;
			bus-frequency = <600000000>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0xfffffc80>;
		};
		PowerPC,e6500@3 {
			clock-frequency = <1800000000>;
			timebase-frequency = <37500000>;
			bus-frequency = <600000000>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0xfffffcc0>;
		};
	};

	localbus@ffe124000 {

		/*        CS#   child          size */
		ranges = <
			/* NOR 256 MB */
			0 0 2 0xf0000000 0x10000000
			/* nand 4 GB */
			1 0 2 0x60000000 0x10000
			/* NOR 256 MB */
			3 0 2 0xb0000000 0x10000000
			/* BMC FPGA */
			4 0 2 0x70000000 0x100000>;

		/* IFC chip select configuration
		 *     CS# CSPR       CSOR       CSOR_EXT   AMASK
		 *         FTIM0      FTIM1      FTIM2      FTIM3
		 */
		config = <
			/* second NOR */
			3  0x0101     0x0000000c 0x00000000 0xf0000000
			   0x20020002 0x1A000A0A 0x02083810 0x00000000

			/* NAND */
			1  0x0083     0x9518c200 0x000001c0 0xffff0000
			   0x0e10070a 0x1c3d0d10 0x01a05025 0x1f000000
		>;

		/* 256 MB NOR flash, booting flash */
		nor@0,0 {
			compatible = "micron,mt28fw02g", "cfi-flash";
			bank-width = <2>;
			reg = <0 0 0x10000000>;
			#address-cells = <1>;
			#size-cells = <1>;
			multi-die-count = <2>;

			partition@0 {
				reg = <0 0x100000>;
				label = "RCW";
			};
			partition@100000 {
				reg = <0x100000 0x80000>;
				label = "BOARD_SIGN";

				/*
				 * The format of this is:
				 *  signature: 16 bytes ("CES")
				 *  module_type - 128 bytes
				 *  serial - 128 bytes
				 *  mac addresses - 3 addresses, in a hex
				 *     string format, with 4 bytes of padding.
				 *     total of 16 bytes for each address.
				 */
				macaddr: macaddr@110 {
					 #mtd-mac-address-cells = <1>;
					 mac-addr-string = <1>;
				};
			};
			partition@180000 {
				reg = <0x180000 0x200000>;
				label = "RESERVED";
			};
			partition@380000 {
				reg = <0x380000 0x40000>;
				label = "IMGT";
			};
			partition@3c0000 {
				reg = <0x3c0000 0x40000>;
				label = "VPKT";
			};
			partition@400000 {
				reg = <0x400000 0xfb00000>;
				label = "USER";
			};
			partition@ff00000 {
				reg = <0xff00000 0x100000>;
				label = "BL";
			};
		};

		/* 256 MB second NOR flash */
		nor@3,0 {
			compatible = "micron,mt28fw02g", "cfi-flash";
			bank-width = <2>;
			reg = <3 0 0x10000000>;
			#address-cells = <1>;
			#size-cells = <1>;
			multi-die-count = <2>;

			partition@0 {
				reg = <0 0x100000>;
				label = "RCW";
			};
			partition@100000 {
				reg = <0x100000 0x80000>;
				label = "BOARD_SIGN";
			};
			partition@180000 {
				reg = <0x180000 0x200000>;
				label = "RESERVED";
			};
			partition@380000 {
				reg = <0x380000 0x40000>;
				label = "IMGT";
			};
			partition@3c0000 {
				reg = <0x3c0000 0x40000>;
				label = "VPKT";
			};
			partition@400000 {
				reg = <0x400000 0xfb00000>;
				label = "USER";
			};
			partition@ff00000 {
				reg = <0xff00000 0x100000>;
				label = "BL";
			};
		};

		cpld@4,0 {
			compatible = "ces,mfcc-8558-cpld";
			reg = <4 0 0x100000>;
			status = "okay";
		};

		nand@1,0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,ifc-nand";
			reg = <0x1 0x0 0x10000>;
		};
	};

	soc@ffe000000 {

		sfp-srkh {
			compatible = "mmsi,sfp-srkh";
		};

		spi@110000 {
			flash@0 {
				reg = <0>;
				compatible = "spansion,s25fl256s0", "jedec,spi-nor";
				spi-max-frequency = <4000000>;
				#address-cells = <1>;
				#size-cells = <1>;

			};
		};

		i2c@118000 {
			eeprom@54 {
				compatible = "at24,24c256";
				reg = <0x54>;
			};
		};

		i2c@119100 {
			etc@6b {
				compatible = "dallas,ds1683";
				reg = <0x6b>;
			};

			i2c-mux@70 {
				compatible = "nxp,pca9544";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;

				i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					adt7461@4c {
						compatible = "adi,adt7461";
						reg = <0x4c>;
					};
				};

				i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;

					adt7461@4c {
						compatible = "adi,adt7461";
						reg = <0x4c>;
					};
				};

				i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;

					adt7461@4c {
						compatible = "adi,adt7461";
						reg = <0x4c>;
					};
				};
			};
		};

		sdhc@114000 {
			clock-frequency = <300000000>;
			status = "okay";
		};
		fman@400000 {
			clock-frequency = <700000000>;
			fman-firmware {
				compatible = "fsl,fman-firmware";
				fsl,firmware = <
					/include/ "fman_fw.hex"
				>;
			};

			ethernet@e0000 {
				phy-handle = <&ethphy15>;
				phy-connection-type = "sgmii";
				mtd-mac-address = <&macaddr 0x110>;
				status = "okay";
			};
			ethernet@e2000 {
				phy-handle = <&ethphy11>;
				phy-connection-type = "sgmii";
				fixed-link = <1 1 1000 0 0>;
				mtd-mac-address = <&macaddr 0x120>;
				status = "okay";
			};
			ethernet@e4000 {
				phy-handle = <&ethphy10>;
				phy-connection-type = "rgmii";
				mtd-mac-address = <&macaddr 0x130>;
				status = "okay";
			};
			mdio@fc000 {
				status = "okay";
				ethphy10: ethernet-phy@10 {
					reg = <16>;
				};
				ethphy11: ethernet-phy@11 {
					reg = <17>;
				};
				ethphy15: ethernet-phy@15 {
					reg = <21>;
				};
			};
		};
		usb@210000 {
			status = "okay";
		};
		usb@211000 {
			status = "okay";
		};
		qman@318000 {
			clock-frequency = <300000000>;
			fsl,qman-fqd = <0 0x7e000000 0 0x1000000>;
			fsl,qman-pfdr = <0 0x7d000000 0 0x1000000>;
		};
		bman@31a000 {
			clock-frequency = <300000000>;
			fsl,bman-fbpr = <0 0x7c000000 0 0x1000000>;
		};
	};

	fsl,dpaa {
		ethernet@0 {
			status = "okay";
		};
		ethernet@1 {
			status = "okay";
		};
		ethernet@2 {
			status = "okay";
		};
	};

	pci0: pcie@ffe240000 {
		compatible = "fsl,t2080-pcie", "fsl,qoriq-pcie-v3.0", "fsl,qoriq-pcie";
		device_type = "pci";
		#size-cells = <2>;
		#address-cells = <3>;
		bus-range = <0 255>;
		interrupts = <20 2 0 0>;
		fsl,msi = <&msi0>;
		fsl,iommu-parent = <&pamu0>;

		reg = <0xf 0xfe240000 0x0 0x10000>;
		ranges = <0x01000000 0x00000000 0x00000000
		                     0x00000007 0x00000000
		                     0x00000000 0x00010000
		          /* PCIe0 I/O Space 0_0000_0000 -> 7_0000_0000 - 7_0000_ffff */
		          0x02000000 0x00000003 0x00000000
		                     0x00000003 0x00000000
		                     0x00000001 0x00000000
		          /* PCIe0 Mem Space 3_0000_0000 -> 3_0000_0000 - 3_ffff_ffff */
		          0x43000000 0x00000008 0x00000000
		                     0x00000008 0x00000000
		                     0x00000002 0x00000000>;
		          /* PCIe0 Pref. Mem 8_0000_0000 -> 8_0000_0000 - 9_ffff_ffff */

		pcie@0 {
			device_type = "pci";
			reg = <0 0 0 0 0>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			#address-cells = <3>;
			interrupts = <20 2 0 0>;
			interrupt-map-mask = <0xf800 0 0 7>;
			interrupt-map = </* IDSEL 0x0 */
			                 0000 0 0 1 &mpic 40 1 0 0
			                 0000 0 0 2 &mpic  1 1 0 0
			                 0000 0 0 3 &mpic  2 1 0 0
			                 0000 0 0 4 &mpic  3 1 0 0
			>;
			ranges = <0x01000000 0x00000000 0x00000000
			          0x01000000 0x00000000 0x00000000
			                     0x00000000 0x00010000
			          /* PCIe to PCIe transparent: I/O space */
			          0x02000000 0x00000003 0x00000000
			          0x02000000 0x00000003 0x00000000
			                     0x00000001 0x00000000
			          /* PCIe to PCIe transparent: memory space */
			          0x43000000 0x00000008 0x00000000
			          0x43000000 0x00000008 0x00000000
			                     0x00000002 0x00000000>;
			          /* PCIe to PCIe transparent: prefetchable memory space */
		};
	};

	pci1: pcie@ffe250000 {
		compatible = "fsl,t2080-pcie", "fsl,qoriq-pcie-v3.0", "fsl,qoriq-pcie";
		device_type = "pci";
		#size-cells = <2>;
		#address-cells = <3>;
		bus-range = <0 255>;
		interrupts = <21 2 0 0>;
		fsl,msi = <&msi1>;
		fsl,iommu-parent = <&pamu0>;

		reg = <0xf 0xfe250000 0x0 0x10000>;
		ranges = <0x01000000 0x00000000 0x00000000
		                     0x00000007 0x00010000
		                     0x00000000 0x00010000
		          /* PCIe0 I/O Space 0_0000_0000 -> 7_0001_0000 - 7_0001_ffff */
		          0x02000000 0x00000004 0x00000000
		                     0x00000004 0x00000000
		                     0x00000001 0x00000000
		          /* PCIe0 Mem Space 4_0000_0000 -> 4_0000_0000 - 4_ffff_ffff */
		          0x43000000 0x0000000a 0x00000000
		                     0x0000000a 0x00000000
		                     0x00000002 0x00000000>;
		          /* PCIe0 Pref. Mem a_0000_0000 -> a_0000_0000 - b_ffff_ffff */

		pcie@0 {
			device_type = "pci";
			reg = <0 0 0 0 0>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			#address-cells = <3>;
			interrupts = <21 2 0 0>;
			interrupt-map-mask = <0xf800 0 0 7>;
			interrupt-map = </* IDSEL 0x0 */
			                 0000 0 0 1 &mpic 41 1 0 0
			                 0000 0 0 2 &mpic  5 1 0 0
			                 0000 0 0 3 &mpic  6 1 0 0
			                 0000 0 0 4 &mpic  7 1 0 0
			>;
			ranges = <0x01000000 0x00000000 0x00000000
			          0x01000000 0x00000000 0x00000000
			                     0x00000000 0x00010000
			          /* PCIe to PCIe transparent: I/O space */
			          0x02000000 0x00000004 0x00000000
			          0x02000000 0x00000004 0x00000000
			                     0x00000001 0x00000000
			          /* PCIe to PCIe transparent: memory space */
			          0x43000000 0x0000000a 0x00000000
			          0x43000000 0x0000000a 0x00000000
			                     0x00000002 0x00000000>;
			          /* PCIe to PCIe transparent: prefetchable memory space */
		};
	};

	pci2: pcie@ffe260000 {
		compatible = "fsl,t2080-pcie", "fsl,qoriq-pcie-v3.0", "fsl,qoriq-pcie";
		device_type = "pci";
		#size-cells = <2>;
		#address-cells = <3>;
		bus-range = <0 255>;
		interrupts = <22 2 0 0>;
		fsl,msi = <&msi2>;
		fsl,iommu-parent = <&pamu0>;

		reg = <0xf 0xfe260000 0x0 0x10000>;
		ranges = <0x01000000 0x00000000 0x00000000
		                     0x00000007 0x00020000
		                     0x00000000 0x00010000
		          /* PCIe0 I/O Space 0_0000_0000 -> 7_0002_0000 - 7_0002_ffff */
		          0x02000000 0x00000005 0x00000000
		                     0x00000005 0x00000000
		                     0x00000001 0x00000000
		          /* PCIe0 Mem Space 5_0000_0000 -> 5_0000_0000 - 5_ffff_ffff */
		          0x43000000 0x0000000c 0x00000000
		                     0x0000000c 0x00000000
		                     0x00000002 0x00000000>;
		          /* PCIe0 Pref. Mem c_0000_0000 -> c_0000_0000 - d_ffff_ffff */
		pcie@0 {
			device_type = "pci";
			reg = <0 0 0 0 0>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			#address-cells = <3>;
			interrupts = <22 2 0 0>;
			interrupt-map-mask = <0xf800 0 0 7>;
			interrupt-map = < /* IDSEL 0x0 */
			                 0000 0 0 1 &mpic 42 1 0 0
			                 0000 0 0 2 &mpic  9 1 0 0
			                 0000 0 0 3 &mpic 10 1 0 0
			                 0000 0 0 4 &mpic 11 1 0 0
			>;
			ranges = <0x01000000 0x00000000 0x00000000
			          0x01000000 0x00000000 0x00000000
			                     0x00000000 0x00010000
			          /* PCIe to PCIe transparent: I/O space */
			          0x02000000 0x00000005 0x00000000
			          0x02000000 0x00000005 0x00000000
			                     0x00000001 0x00000000
			          /* PCIe to PCIe transparent: memory space */
			          0x43000000 0x0000000c 0x00000000
			          0x43000000 0x0000000c 0x00000000
			                     0x00000002 0x00000000>;
			          /* PCIe to PCIe transparent: prefetchable memory space */
		};
	};

	pci3: pcie@ffe270000 {
		compatible = "fsl,t2080-pcie", "fsl,qoriq-pcie-v3.0", "fsl,qoriq-pcie";
		device_type = "pci";
		#size-cells = <2>;
		#address-cells = <3>;
		bus-range = <0 255>;
		interrupts = <23 2 0 0>;
		fsl,msi = <&msi3>;
		fsl,iommu-parent = <&pamu0>;

		reg = <0xf 0xfe270000 0x0 0x10000>;
		ranges = <0x01000000 0x00000000 0x00000000
		                     0x00000007 0x00030000
		                     0x00000000 0x00010000
		          /* PCIe0 I/O Space 0_0000_0000 -> 7_0003_0000 - 7_0003_ffff */
		          0x02000000 0x00000006 0x00000000
		                     0x00000006 0x00000000
		                     0x00000001 0x00000000
		          /* PCIe0 Mem Space 6_0000_0000 -> 6_0000_0000 - 5_ffff_ffff */
		          0x43000000 0x0000000e 0x00000000
		                     0x0000000e 0x00000000
		                     0x00000001 0x00000000>;
		          /* PCIe0 Pref. Mem e_0000_0000 -> e_0000_0000 - e_ffff_ffff */
		pcie@0 {
			device_type = "pci";
			reg = <0 0 0 0 0>;
			#interrupt-cells = <1>;
			#size-cells = <2>;
			#address-cells = <3>;
			interrupts = <23 2 0 0>;
			interrupt-map-mask = <0xf800 0 0 7>;
			interrupt-map = < /* IDSEL 0x0 */
			                 0000 0 0 1 &mpic 43 1 0 0
			                 0000 0 0 2 &mpic  0 1 0 0
			                 0000 0 0 3 &mpic  4 1 0 0
			                 0000 0 0 4 &mpic  8 1 0 0
			>;
			ranges = <0x01000000 0x00000000 0x00000000
			          0x01000000 0x00000000 0x00000000
			                     0x00000000 0x00010000
			          /* PCIe to PCIe transparent: I/O space */
			          0x02000000 0x00000006 0x00000000
			          0x02000000 0x00000006 0x00000000
			                     0x00000001 0x00000000
			          /* PCIe to PCIe transparent: memory space */
			          0x43000000 0x0000000e 0x00000000
			          0x43000000 0x0000000e 0x00000000
			                     0x00000001 0x00000000>;
			          /* PCIe to PCIe transparent: prefetchable memory space */
		};
	};

	pcie@ffe240000 {
		ranges = </* PCIe0 I/O Space 0_0000_0000 -> 5_0000_0000 - 5_0000_ffff */
		          0x1000000  0          0
		                     5          0
		                     0    0x10000
		          /* PCIe0 Mem Space 0_c000_0000 -> 3_0000_0000 - 3_3fff_ffff */
		          0x2000000  0 0xc0000000
		                     3          0
		                     0 0x40000000
		          /* PCIe0 Pref. Mem 1_0000_0000 -> 6_0000_0000 - 7_ffff_ffff */
		          0x43000000 1          0
		                     6          0
		                     2          0>;
		/* This device can only DMA address the bottom 2GB of RAM. */
		dma-ranges = <0 0 0 0 0 0x80000000>;
		status = "okay";
	};
	pcie@ffe250000 {
		ranges = </* PCIe0 I/O Space 0_0000_0000 -> 5_0001_0000 - 5_0001_ffff */
		          0x1000000  0          0
		                     5    0x10000
		                     0    0x10000
		          /* PCIe0 Mem Space 0_c000_0000 -> 3_8000_0000 - 3_bfff_ffff */
		          0x2000000  0 0xc0000000
		                     3 0x80000000
		                     0 0x40000000
		          /* PCIe0 Pref. Mem 1_0000_0000 -> 8_0000_0000 - 9_ffff_ffff */
		          0x43000000 1          0
		                     8          0
		                     2          0>;
		/* This device can only DMA address the bottom 2GB of RAM. */
		dma-ranges = <0 0 0 0 0 0x80000000>;
		status = "okay";
	};
	pcie@ffe260000 {
		ranges = </* PCIe0 I/O Space 0_0000_0000 -> 5_0002_0000 - 5_0002_ffff */
		          0x1000000   0          0
		                      5    0x20000
		                      0    0x10000
		          /* PCIe0 Mem Space 0_c000_0000 -> 3_c000_0000 - 3_ffff_ffff */
		          0x2000000   0 0xc0000000
		                      4          0
		                      0 0x40000000
		          /* PCIe0 Pref. Mem 1_0000_0000 -> a_0000_0000 - b_ffff_ffff */
		          0x43000000  1          0
		                     10          0
		                      2          0>;
		/* This device can only DMA address the bottom 2GB of RAM. */
		dma-ranges = <0 0 0 0 0 0x80000000>;
		status = "okay";
	};
	pcie@ffe270000 {
		status = "disabled";
	};
};
