/include/ "t208xsi-pre.dtsi"
/include/ "mfcc-855x-pre.dtsi"

/ {
	model = "MFCC-8559";
	compatible = "mfcc_8559", "mmsi,MFCC-8559";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&mpic>;

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	/* 8 Gbytes DDR */
	memory {
		reg = <0x0 0x0 0x2 0x0>;
	};
};

&ifc {
	/*        CS#   child          size */
	ranges = <
		/* NOR 256 MB */
		0 0 2 0xf0000000 0x10000000
		/* nand 4 GB */
		1 0 2 0x60000000 0x10000
		/* NOR 256 MB */
		3 0 2 0xb0000000 0x10000000
		/* BMC FPGA */
		4 0 2 0x70000000 0x1000000>;

	/* 256 MB NOR flash */
	nor@0,0 {
		compatible = "micron,mt28fw02g", "cfi-flash";
		bank-width = <2>;
		reg = <0 0 0x10000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			reg = <0 0x100000>;
			label = "RCW";
		};
		partition@100000 {
			reg = <0x100000 0x80000>;
			label = "BOARD_SIGN";
		};
		partition@200000 {
			reg = <0x180000 0x200000>;
			label = "RESERVED";
		};
		partition@380000 {
			reg = <0x380000 0x40000>;
			label = "IMGT";
		};
		partition@3c0000 {
			reg = <0x3c0000 0x40000>;
			label = "VPKT";
		};
		partition@400000 {
			reg = <0x400000 0xf700000>;
			label = "USER";
		};
		partition@fb00000 {
			reg = <0xfb00000 0x500000>;
			label = "PPCMON";
		};
	};

	/* 4GB NAND */
	nand@1,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt29f32g08", "fsl,ifc-nand";
		reg = <0x1 0x0 0x10000>;
	};

	/* 256 MB NOR flash */
	nor@3,0 {
		compatible = "micron,mt28fw02g", "cfi-flash";
		bank-width = <2>;
		reg = <3 0 0x10000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			reg = <0 0x100000>;
			label = "RCW";
		};
		partition@100000 {
			reg = <0x100000 0x80000>;
			label = "BOARD_SIGN";
		};
		partition@200000 {
			reg = <0x180000 0x200000>;
			label = "RESERVED";
		};
		partition@380000 {
			reg = <0x380000 0x40000>;
			label = "IMGT";
		};
		partition@3c0000 {
			reg = <0x3c0000 0x40000>;
			label = "VPKT";
		};
		partition@400000 {
			reg = <0x400000 0xf700000>;
			label = "USER";
		};
		partition@fb00000 {
			reg = <0xfb00000 0x500000>;
			label = "PPCMON";
		};
	};

	bmc-bus@4,0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;

		ranges = <0 4 0x0 0x90000>;

		bmc@0 {
			compatible = "mmsi,ifc-bmc";
			reg = <0x0000 0x2100 /* ctrl reg */
			       0x7000 0x100  /* timer reg */
			       0x9000 0x8>;  /* irq */
		};

		/* uart connected to the spectratime module */
		serial4: serial@20000 {
			compatible = "mmsi,axi-rsl";
			reg = <0x20000 0x20>;
			no-transceiver;
		};

		/* watchdog with fixed timeout started by hw */
		hw_wdog@4000 {
			compatible = "mmsi,ifc-wdog";
			reg = <0x4000 0x18>;
			hw-wdog = <1>;
		};

		prog_wdog@5000 {
			compatible = "mmsi,ifc-wdog";
			reg = <0x5000 0x18>;
			timeout-secs = <60>;
		};

		gpio@8000 {
			compatible = "mmsi,ifc-gpio";
			reg = <0x8000 0x1c>;
		};
	};

	hssi@4,400000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;

		ranges = <0 4 0x400000 0x70000>;

		hssi-ctrl@0 {
			compatible = "mmsi,hssi-ctrl";
			reg = <0x00000 0x108  /* config */
			       0x00400 0x34   /* hssi slave */
			       0x00c00 0x2c>; /* hssi master */
		};

		serial5: serial@10000 {
			compatible = "mmsi,axi-rsl";
			reg = <0x10000 0x50>;
		};
		serial6: serial@20000 {
			compatible = "mmsi,axi-rsl";
			reg = <0x20000 0x50>;
		};
		serial7: serial@30000 {
			compatible = "mmsi,axi-rsl";
			reg = <0x30000 0x50>;
		};
		serial8: serial@40000 {
			compatible = "mmsi,axi-rsl";
			reg = <0x40000 0x50>;
		};
	};
};

&soc {
	clock-frequency = "600000000";

	sfp-srkh {
		compatible = "mmsi,sfp-srkh";
	};

	spi@110000 {
		flash@0 {
			/* Flash of 64 MBytes */
			reg = <0>;
			compatible = "micron,n25q512a", "jedec,spi-nor";
			spi-max-frequency = <4000000>;
			m25p,fast-read;

			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				reg = <0 0x4000000>;
				label = "SPINOR-DATA";
			};
		};
		fram@1 {
			/* 256KB FRAM */
			compatible = "cypress,cy15b102", "jedec,spi-nor";
			reg = <1>; /* SPI chip select */
			spi-max-frequency = <20000000>;

			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				reg = <0 0x40000>;
				label = "FRAM-SYSTEM";
			};
		};
		fram@2 {
			/* F-RAM of 256 kBytes */
			compatible = "cypress,cy15b102", "jedec,spi-nor";
			reg = <2>; /* SPI chip select */
			spi-max-frequency = <20000000>;

			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				reg = <0 0x40000>;
				label = "FRAM-USER";
			};
		};
	};

	i2c@118000 { /* i2c0 */
		etc@6b {
			compatible = "dallas,ds1683";
			reg = <0x6b>;
		};
	};

	i2c@118100 { /* i2c1 */
		tempcpu0@48 {
			compatible = "ti,tmp116";
			reg = <0x48>;
		};
		tempcpu1@49 {
			compatible = "ti,tmp116";
			reg = <0x49>;
		};
		tempcpu3@4c {
			compatible = "ti,tmp451";
			reg = <0x4c>;
		};
	};

	i2c@119000 { /* i2c2 */
	};

	i2c@119100 { /* i2c3 */
		tempframe0@48 {
			compatible = "ti,tmp116";
			reg = <0x48>;
		};
		tempframe1@49 {
			compatible = "ti,tmp116";
			reg = <0x49>;
		};
	};

	/* Feature disabled by hardware fuse */
	crypto@300000 {
		status = "disabled";
	};

	fman@400000 {
		ethernet@e0000 {
			phy-handle = <&ethphy15>;
			phy-connection-type = "sgmii";
			status = "okay";
		};
		ethernet@e2000 {
			phy-handle = <&ethphy11>;
			phy-connection-type = "sgmii";
			status = "okay";
		};
		ethernet@e4000 {
			status = "disabled";
		};
		ethernet@e6000 {
			status = "disabled";
		};
		ethernet@e8000 {
			status = "disabled";
		};
		ethernet@ea000 {
			status = "disabled";
		};
		ethernet@f0000 {
			status = "disabled";
		};
		ethernet@f2000 {
			status = "disabled";
		};

		mdio@fc000 {
			clk-div = <0x78>; /* set MDIO_CLK_DIV */

			ethphy15: ethernet-phy@15 {
				reg = <0x15>;
			};
			ethphy11: ethernet-phy@11 {
				reg = <0x11>;
			};
		};
	};
};

/include/ "t2080si-post.dtsi"
/include/ "mfcc-855x-post.dtsi"

&serial0 {
	clock-frequency = <300000000>;
};

&serial1 {
	clock-frequency = <300000000>;
};

&serial2 {
	clock-frequency = <300000000>;
};

&serial3 {
	clock-frequency = <300000000>;
};

&cpu0 {
      clock-frequency = <1800000000>;
      timebase-frequency = <37500000>;
};

&cpu1 {
      clock-frequency = <1800000000>;
      timebase-frequency = <37500000>;
};

&cpu2 {
      clock-frequency = <1800000000>;
      timebase-frequency = <37500000>;
};

&cpu3 {
      clock-frequency = <1800000000>;
      timebase-frequency = <37500000>;
};

&sdhc {
      clock-frequency = <300000000>;
};

&soc {
	fsldpaa: fsl,dpaa {
		compatible = "simple-bus", "fsl,dpaa";
		ethernet@0 {
			compatible = "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet0>;
		};
		ethernet@1 {
			compatible = "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet1>;
		};
	};
};
