/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2016 Broadcom Corporation.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom Corporation nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;

#include "bcm-katana2.dtsi"

/ {
	model = "ML66 NPU1002";
	compatible = "ericsson,npu1002", "brcm,katana2";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		sdk-serdes-lane2 = &amac_serdes2;
	};

	chosen {
		bootargs = "ttyS1,115200n8 noinitrd root=/dev/ram maxcpus=2 mem=496M ip=169.254.1.2:::255.255.255.0::eth1:off";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
	clock-frequency = <123750000>;
};

&gmac0 {
	status = "okay";
	phy-handle = <&amac_phy0>;
	phy-mode = "sgmii"; /* "gmii-id", "gmii-rxid", "sgmii" */
	serdes-handle = <&amac_serdes0>;
};

&gmac1 {
	status = "okay";
	serdes-handle = <&amac_serdes1>;
};

&usbphy0 {
	status = "okay";
	mdio-phy-handle = <&usb_phy>;
};

&ehci0 {
	status = "okay";
};

&usbd {
	status = "okay";
};

&gpio_cca {
	status = "okay";
};

&pcie0 {
	status = "okay";
	mdio-phy-handle = <&pcie_phy0>;
};

&pcie1 {
	status = "okay";
	mdio-phy-handle = <&pcie_phy1>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&nand {
	status = "okay";
	nandcs@1 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-on-flash-bbt;
		/*nand-bus-width = <8>;*/
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		brcm,nand-oob-sector-size = <16>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "nboot";
				reg = <0x0 0x100000>;
				/*read-only;*/
			};
			partition@1 {
				label = "memtest";
				reg = <0x100000 0x100000>;
				/*read-only;*/
			};
			partition@2 {
				label = "nenv";
				reg = <0x200000 0x100000>;
			};
			partition@3 {
				label = "nerd_env";
				reg = <0x300000 0x100000>;
			};
			partition@4 {
				label = "iproc_ram_tuning";
				reg = <0x400000 0x100000>;
			};
			partition@5 {
				label = "nandtest";
				reg = <0x500000 0x100000>;
			};
			partition@6 {
				label = "pbist_linux";
				reg = <0x600000 0x600000>;
			};
			partition@7 {
				label = "pbist_fs";
				reg = <0xc00000 0x4a00000>;
			};
			partition@8 {
				label = "scratch";
				reg = <0x5600000 0x1AA00000>;
			};
		};
	};
};

&qspi {
	status = "okay";
		flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p80";
		m25p,fast-read = <1>;
		spi-max-frequency = <62500000>;
		reg = <0x0>;
		partition@0 {
			label = "boot";
			reg = <0x00000000 0x000c0000>;
			/*read-only;*/
		};
		partition@1 {
			label = "env";
			reg = <0x000c0000 0x00040000>;
		};
		partition@2 {
			label = "system";
			reg = <0x00100000 0x00f00000>;
		};
		partition@3 {
			label = "rootfs";
			reg = <0x01000000 0x01000000>;
		};
	};
};

&mdio_int {
	status = "okay";
	/* 3 AMAC serdes, amac_serdes2 is for switch front port */
	amac_serdes0: amac_serdes@0 {
		reg = <1>;
	};
	amac_serdes1: amac_serdes@1 {
		reg = <2>;
	};
	amac_serdes2: amac_serdes@2 {
		reg = <3>;
	};
	usb_phy: usb_phy@0 {
		reg = <6>;
	};
	pcie_phy0: pcie_phy@0 {
		reg = <7>;
	};
	pcie_phy1: pcie_phy@1 {
		reg = <8>;
	};
};

&mdio_ext {
	status = "okay";
	amac_phy0: amac_phy@0 {
		reg = <5>;
	};
};

&hwrng {
	status = "okay";
};

&iproc_wdt {
	status = "okay";
};

&dmac0 {
	status = "okay";
};

&iproc_cmicd {
	status = "okay";
};
