/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2016 Broadcom Corporation.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom Corporation nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;

#include "bcm-katana2.dtsi"

/ {
	model = "ML66 NPU1005";
	compatible = "ericsson,npu1005", "brcm,katana2";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		sdk-serdes-lane2 = &amac_serdes2;
	};

	chosen {
		bootargs = "console=ttyS1,115200n8 maxcpus=2 ubi.mtd=1 root=ubi0:rootfs rootflags=bulk_read rootfstype=ubifs user_debug=31 earlyprintk";
	};

	ttic {
		compatible = "ericsson,ttic";
		interrupts = <2 IRQ_TYPE_EDGE_FALLING>; /* TTICK_IN_K2 */
		interrupt-parent =<&gpio_cca>;
	};

	rmm {
		compatible = "ericsson,rmm";
	};

	pex {
		compatible = "ericsson,pcie";
	};

	spi_eeprom {
		compatible = "ericsson,spi-eeprom,cs_gpio";
		spi-cpol;
		cs = <&gpio_cca 7 GPIO_ACTIVE_LOW>; /* PROM_CS_K2_N */
	};

	spi_bpm {
		compatible = "ericsson,spi-bpm,cs_gpio";
		spi-cpol;
		cs = <&gpio_cca 0 GPIO_ACTIVE_LOW>; /* DCDC_SPI_CS_K2_N */
	};

	gpio_pcie: gpio_pcie {
		compatible = "ericsson,gpio_pcie";
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
	clock-frequency = <123750000>;
};

&gmac0 {
	status = "okay";
	serdes-handle = <&amac_serdes0>;
};

&gmac1 {
	status = "okay";
	serdes-handle = <&amac_serdes1>;
};

&usbphy0 {
	status = "okay";
	mdio-phy-handle = <&usb_phy>;
};

&ehci0 {
	status = "disabled";
};

&usbd {
	status = "okay";
};

&gpio_cca {
	status = "okay";
};

&pcie0 {
	status = "okay";
	mdio-phy-handle = <&pcie_phy0>;
	linux,pci-domain = <1>;
};

&pcie1 {
	status = "okay";
	mdio-phy-handle = <&pcie_phy1>;
	linux,pci-domain = <0>;
};

&i2c0 {
	status = "okay";
	rtc@068 {
		compatible = "dallas,ds1307";
		reg = <0x68>;
	};
};

&i2c1 {
	status = "okay";
};

&nand {
	status = "okay";
	nandcs@1 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-on-flash-bbt;
		/*nand-bus-width = <8>;*/
		nand-ecc-strength = <12>;
		nand-ecc-step-size = <512>;
		brcm,nand-oob-sector-size = <27>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "boot";
			reg = <0x0 0x100000>;
		};
		partition@1 {
			label = "memtest";
			reg = <0x100000 0x100000>;
		};
		partition@2 {
			label = "bootenv";
			reg = <0x200000 0x200000>;
		};
		partition@3 {
			label = "iproc_ram_tuning";
			reg = <0x400000 0x100000>;
		};
		partition@4 {
			label = "nandtest";
			reg = <0x500000 0x100000>;
		};
		partition@5 {
			label = "pbist";
			reg = <0x600000 0x3A00000>;
		};
		partition@6 {
			label = "lm0";
			reg = <0x04000000 0x10000000>;
		};
		partition@7 {
			label = "lm1";
			reg = <0x14000000 0x10000000>;
		};
		partition@8 {
			label = "util";
			reg = <0x24000000 0x58000000>;
		};
		partition@9 {
			label = "crash";
			reg = <0x7c000000 0x4000000>;
		};

		partitions {
			compatible = "ml66,npu-partitions";
		};
	};
};

&qspi {
	status = "okay";
	spi_cpld@0 {
		reg = <0>;
		compatible = "ericsson,spi-cpld";
		spi-cpol;
		spi-max-frequency = <500000>;
		interrupts-extended = <&gpio_cca 4 IRQ_TYPE_EDGE_FALLING>,	/* SPI_UP_IRQ_N */
		                      <&gpio_cca 3 IRQ_TYPE_EDGE_FALLING>,	/* LVD_EVENT_N */
		                      <&gpio_pcie 10 IRQ_TYPE_EDGE_FALLING>,	/* LIV_DISTURBANCE, goes to PCIe switch GPIO */
		                      <&gpio_pcie 18 IRQ_TYPE_EDGE_RISING>,	/* MASTER  0x1 = low-to-high edge triggered */
		                      <&gpio_pcie 0  IRQ_TYPE_EDGE_FALLING>;	/* WARM_RESET_N */
		liv_n-gpios         = <&gpio_pcie 10 GPIO_ACTIVE_LOW>;
		master-gpios        = <&gpio_pcie 18 GPIO_ACTIVE_HIGH>;
		back_off-gpios      = <&gpio_pcie 17 GPIO_ACTIVE_HIGH>;
		heart_beat_n-gpios  = <&gpio_pcie 19 GPIO_ACTIVE_LOW>;
		ga0-gpios           = <&gpio_pcie  2 GPIO_ACTIVE_HIGH>;
		cs                  = <&gpio_cca 6 GPIO_ACTIVE_LOW>;
		warm_reset_n-gpios  = <&gpio_pcie 0 GPIO_ACTIVE_LOW>;
	};
};

&mdio_int {
	status = "okay";
	/* 3 AMAC serdes, amac_serdes2 is for switch front port */
	amac_serdes0: amac_serdes@0 {
		reg = <1>;
	};
	amac_serdes1: amac_serdes@1 {
		reg = <2>;
	};
	amac_serdes2: amac_serdes@2 {
		reg = <3>;
	};
	usb_phy: usb_phy@0 {
		reg = <6>;
	};
	pcie_phy0: pcie_phy@0 {
		reg = <7>;
	};
	pcie_phy1: pcie_phy@1 {
		reg = <8>;
	};
};

&mdio_ext {
	status = "okay";
};

&hwrng {
	status = "okay";
};

&iproc_wdt {
	status = "okay";
};

&dmac0 {
	status = "okay";
};

&iproc_cmicd {
	status = "okay";
};
